DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/ratehub?schema=public"
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production-min-32-chars"
JWT_EXPIRES_IN="7d"
PORT=5001
NODE_ENV=development
CLIENT_URL="http://localhost:5173"
